h1 {
	color: #0B1F5C; 
	text-align: center; letter-spacing: 15px;
	font-size: 10000; 
}

h2 {
	background-color: #728747f4;
	color: white;
}

body {
	background-color: #B0B6BC;
	font-size: x-large;
}

img.img_iglesia1{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

img.img_iglesia1{#0B1F5C
	float: left;
}

img.img_iglesias2{
	width: 350px; height: 250px;
}

img.img_iglesias2{
	display: block;
	margin: auto;
}

img.img_iglesias3{
	width:350px; height: 300px;
}

img.img_iglesias3{
	float: right;
}

footer {
	clear: both;
}

p {
	font-family: sans-serif;
}
